# Postal Codes data

### Importing libraries

In [1]:
# Data processing
import numpy as np
import pandas as pd
import geopandas as gpd

# Visualisation
import matplotlib
from ipyleaflet import Map, GeoData, basemaps, LayersControl
import seaborn
import folium
import mapclassify

## Importing data

In [59]:
# Reading JSON as Pandas dataframe
buildings = pd.read_json('Data Sources/singapore-postal-codes-master/buildings.json')
buildings.head()

,ADDRESS,BLK_NO,BUILDING,LATITUDE,LONGITUDE,LONGTITUDE,POSTAL,ROAD_NAME,SEARCHVAL,X,Y
0,1 STRAITS BOULEVARD SINGAPORE CHINESE CULTURAL...,1,SINGAPORE CHINESE CULTURAL CENTRE,1.275805,103.849615,103.849615,018906,STRAITS BOULEVARD,SINGAPORE CHINESE CULTURAL CENTRE,29813.663491,28697.520756
1,11A STRAITS BOULEVARD TEMPORARY SITE OFFICE SI...,11A,TEMPORARY SITE OFFICE,1.274950,103.851665,103.851665,018907,STRAITS BOULEVARD,TEMPORARY SITE OFFICE,30041.838898,28602.987244
2,5A MARINA GARDENS DRIVE SINGAPORE 018910,5A,NIL,1.279587,103.868956,103.868956,018910,MARINA GARDENS DRIVE,5A MARINA GARDENS DRIVE SINGAPORE 018910,31966.120787,29115.753373
3,2 CENTRAL BOULEVARD CENTRAL BOULEVARD TOWERS S...,2,CENTRAL BOULEVARD TOWERS,1.279744,103.851591,103.851591,018916,CENTRAL BOULEVARD,CENTRAL BOULEVARD TOWERS,30033.604463,29133.104676
4,21 PARK STREET DBS MARINA BAY MRT STATION SING...,21,DBS MARINA BAY MRT STATION,1.276427,103.854598,103.854598,018925,PARK STREET,DBS MARINA BAY MRT STATION,30368.205612,28766.381902

In [3]:
# Converting dataframe to GeoPandas dataframe
buildings_gdf = gpd.GeoDataFrame(
    buildings, geometry=gpd.points_from_xy(buildings.X, buildings.Y), crs='EPSG:3414'
)
buildings_gdf.head()

,ADDRESS,BLK_NO,BUILDING,LATITUDE,LONGITUDE,LONGTITUDE,POSTAL,ROAD_NAME,SEARCHVAL,X,Y,geometry
0,1 STRAITS BOULEVARD SINGAPORE CHINESE CULTURAL...,1,SINGAPORE CHINESE CULTURAL CENTRE,1.275805,103.849615,103.849615,018906,STRAITS BOULEVARD,SINGAPORE CHINESE CULTURAL CENTRE,29813.663491,28697.520756,POINT (29813.663 28697.521)
1,11A STRAITS BOULEVARD TEMPORARY SITE OFFICE SI...,11A,TEMPORARY SITE OFFICE,1.274950,103.851665,103.851665,018907,STRAITS BOULEVARD,TEMPORARY SITE OFFICE,30041.838898,28602.987244,POINT (30041.839 28602.987)
2,5A MARINA GARDENS DRIVE SINGAPORE 018910,5A,NIL,1.279587,103.868956,103.868956,018910,MARINA GARDENS DRIVE,5A MARINA GARDENS DRIVE SINGAPORE 018910,31966.120787,29115.753373,POINT (31966.121 29115.753)
3,2 CENTRAL BOULEVARD CENTRAL BOULEVARD TOWERS S...,2,CENTRAL BOULEVARD TOWERS,1.279744,103.851591,103.851591,018916,CENTRAL BOULEVARD,CENTRAL BOULEVARD TOWERS,30033.604463,29133.104676,POINT (30033.604 29133.105)
4,21 PARK STREET DBS MARINA BAY MRT STATION SING...,21,DBS MARINA BAY MRT STATION,1.276427,103.854598,103.854598,018925,PARK STREET,DBS MARINA BAY MRT STATION,30368.205612,28766.381902,POINT (30368.206 28766.382)

In [4]:
# Write buildings_gdf to a shapefile
buildings_gdf.to_file('Generated Files/buildings_EPSG3414.shp')

# Plot objects in buildings_gdf
buildings_gdf.plot()

ImportError: The 'to_file' method requires the 'pyogrio' or 'fiona' package, but neither is installed or imports correctly.
Importing fiona resulted in: dlopen(/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fiona/ogrext.cpython-310-darwin.so, 0x0002): symbol not found in flat namespace '_CPLCheckForFile'
Importing pyogrio resulted in: No module named 'pyogrio'

In [5]:
# Remove duplicate postal codes
buildings_gdf = buildings_gdf.drop_duplicates(subset=['POSTAL'])
buildings_gdf.reset_index()
buildings_gdf.head()

,ADDRESS,BLK_NO,BUILDING,LATITUDE,LONGITUDE,LONGTITUDE,POSTAL,ROAD_NAME,SEARCHVAL,X,Y,geometry
0,1 STRAITS BOULEVARD SINGAPORE CHINESE CULTURAL...,1,SINGAPORE CHINESE CULTURAL CENTRE,1.275805,103.849615,103.849615,018906,STRAITS BOULEVARD,SINGAPORE CHINESE CULTURAL CENTRE,29813.663491,28697.520756,POINT (29813.663 28697.521)
1,11A STRAITS BOULEVARD TEMPORARY SITE OFFICE SI...,11A,TEMPORARY SITE OFFICE,1.274950,103.851665,103.851665,018907,STRAITS BOULEVARD,TEMPORARY SITE OFFICE,30041.838898,28602.987244,POINT (30041.839 28602.987)
2,5A MARINA GARDENS DRIVE SINGAPORE 018910,5A,NIL,1.279587,103.868956,103.868956,018910,MARINA GARDENS DRIVE,5A MARINA GARDENS DRIVE SINGAPORE 018910,31966.120787,29115.753373,POINT (31966.121 29115.753)
3,2 CENTRAL BOULEVARD CENTRAL BOULEVARD TOWERS S...,2,CENTRAL BOULEVARD TOWERS,1.279744,103.851591,103.851591,018916,CENTRAL BOULEVARD,CENTRAL BOULEVARD TOWERS,30033.604463,29133.104676,POINT (30033.604 29133.105)
4,21 PARK STREET DBS MARINA BAY MRT STATION SING...,21,DBS MARINA BAY MRT STATION,1.276427,103.854598,103.854598,018925,PARK STREET,DBS MARINA BAY MRT STATION,30368.205612,28766.381902,POINT (30368.206 28766.382)

In [7]:
# Write updated GeoDataFrame to file
buildings_gdf.to_file('Generated Files/buildings_EPSG3414_no-dups.shp')

# Plot objects
buildings_gdf.plot()

ImportError: The 'to_file' method requires the 'pyogrio' or 'fiona' package, but neither is installed or imports correctly.
Importing fiona resulted in: dlopen(/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fiona/ogrext.cpython-310-darwin.so, 0x0002): symbol not found in flat namespace '_CPLCheckForFile'
Importing pyogrio resulted in: No module named 'pyogrio'

In [8]:
# Type verification of layer 'POSTAL'
buildings_gdf['POSTAL']

0         018906
1         018907
2         018910
3         018916
4         018925
           ...
141721    886129
141722    887327
141723    887328
141724    918104
141725    918146
Name: POSTAL, Length: 121361, dtype: object

<h1>Appending Resale Prices to Buildings</h1>

In [ ]:
#append new column initialised to -1 for buildings_gdf
buildings_gdf['price_resale_2020'] = -1
buildings_gdf.head()

In [108]:
all_resale = pd.read_csv('Data Sources/TL_whole_data/all_resale_prices_by_year.csv')
resale_2020 = all_resale.loc[all_resale['year'] == 2020]
resale_2020.head(10)

        year               flat  real_price  LATITUDE   LONGITUDE  norm_price
178002  2020         1 BEACH RD      322451  1.303671  103.864479    0.153898
178003  2020  1 BEDOK STH AVE 1      244861  1.320852  103.933721    0.077446
178004  2020     1 CHAI CHEE RD      531360  1.327969  103.922716    0.359746
178005  2020        1 DELTA AVE      872707  1.292075  103.828584    0.696091
178006  2020         1 DOVER RD      298546  1.302526  103.783273    0.130344
178007  2020      1 GHIM MOH RD      290029  1.312880  103.786855    0.121952
178008  2020          1 HAIG RD      297259  1.311291  103.897703    0.129076
178009  2020    1 HOUGANG AVE 3      217939  1.364131  103.893001    0.050918
178010  2020     1 JLN BT MERAH      287913  1.286454  103.808242    0.119866
178011  2020       1 KG KAYU RD      305403  1.303558  103.883796    0.137100

        year               flat  real_price  LATITUDE   LONGITUDE  norm_price
178002  2020         1 BEACH RD      322451  1.303671  103.864479    0.153898
178003  2020  1 BEDOK STH AVE 1      244861  1.320852  103.933721    0.077446
178004  2020     1 CHAI CHEE RD      531360  1.327969  103.922716    0.359746

<h4>Attempt 1: For Loop, Doesn't Work</h4>

In [49]:
for i, bdg in buildings_gdf.iterrows():
    for j, price in resale_2020.iterrows():
        if price[1][3] == bdg[1][3] and price[1][4] == bdg[1][4]:
            #if the latitude and longitude are the same, attach the real_price
            bdg[1][12] = price[[1][2]]

In [86]:
#CHECK
sum(buildings_gdf['price_resale_2020'] == 244861)

0

<h4>Attempt 2: Merge Based on Longitude and Latitude, Doesn't Work</h4>

In [96]:
merged_df = pd.merge(buildings, resale_2020, how = 'left')
merged_df.head()

,ADDRESS,BLK_NO,BUILDING,LATITUDE,LONGITUDE,LONGTITUDE,POSTAL,ROAD_NAME,SEARCHVAL,X,Y,year,flat,real_price,norm_price
0,1 STRAITS BOULEVARD SINGAPORE CHINESE CULTURAL...,1,SINGAPORE CHINESE CULTURAL CENTRE,1.275805,103.849615,103.849615,018906,STRAITS BOULEVARD,SINGAPORE CHINESE CULTURAL CENTRE,29813.663491,28697.520756,NaN,NaN,NaN,NaN
1,11A STRAITS BOULEVARD TEMPORARY SITE OFFICE SI...,11A,TEMPORARY SITE OFFICE,1.274950,103.851665,103.851665,018907,STRAITS BOULEVARD,TEMPORARY SITE OFFICE,30041.838898,28602.987244,NaN,NaN,NaN,NaN
2,5A MARINA GARDENS DRIVE SINGAPORE 018910,5A,NIL,1.279587,103.868956,103.868956,018910,MARINA GARDENS DRIVE,5A MARINA GARDENS DRIVE SINGAPORE 018910,31966.120787,29115.753373,NaN,NaN,NaN,NaN
3,2 CENTRAL BOULEVARD CENTRAL BOULEVARD TOWERS S...,2,CENTRAL BOULEVARD TOWERS,1.279744,103.851591,103.851591,018916,CENTRAL BOULEVARD,CENTRAL BOULEVARD TOWERS,30033.604463,29133.104676,NaN,NaN,NaN,NaN
4,21 PARK STREET DBS MARINA BAY MRT STATION SING...,21,DBS MARINA BAY MRT STATION,1.276427,103.854598,103.854598,018925,PARK STREET,DBS MARINA BAY MRT STATION,30368.205612,28766.381902,NaN,NaN,NaN,NaN

In [110]:
sum(merged_df['LATITUDE'] == 1.303558)
merged_true = merged_df.dropna()
merged_true

0