In [16]:
import fiona

AttributeError: partially initialized module 'fiona' has no attribute '_loading' (most likely due to a circular import)

In [11]:
# Data processing
import numpy as np
import pandas as pd
import geopandas as gpd

# Visualisation
import matplotlib
from ipyleaflet import Map, GeoData, basemaps, LayersControl
import seaborn
import folium
import mapclassify

In [4]:
# Reading CSV as Pandas dataframe
mrtsg = pd.read_csv('Data Sources/1_data/mrt-sg-2019/mrtsg.csv')
mrtsg.head()

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR
0,12,ADMIRALTY MRT STATION,NS10,24402.1063,46918.1131,1.440585,103.800998,RED
1,16,ALJUNIED MRT STATION,EW9,33518.6049,33190.0020,1.316433,103.882893,GREEN
2,33,ANG MO KIO MRT STATION,NS16,29807.2655,39105.7720,1.369933,103.849553,RED
3,81,BAKAU LRT STATION,SE3,36026.0821,41113.8766,1.388093,103.905418,OTHERS
4,80,BANGKIT LRT STATION,BP9,21248.2460,40220.9693,1.380018,103.772667,OTHERS

In [5]:
#import relevant files
import requests

In [6]:
#file obtained from https://observablehq.com/@cheeaun/list-of-bus-stops-in-singapore
#last updated 29 May 2021

#read from json file
resp = requests.get('https://data.busrouter.sg/v1/stops.min.json')
txt = resp.json()

#convert to dataframe
busstopssg = pd.DataFrame(txt)

#transpose columns and rows
busstopssg = busstopssg.T
#change IDs from index to first column
busstopssg.reset_index(inplace=True)
#rename columns
busstopssg.columns = ['id','longitude', 'latitude', 'name']
#reorder columns
busstopssg = busstopssg[['id','name','latitude','longitude']]
busstopssg.head()

      id                      name latitude  longitude
0  10009              Bt Merah Int   1.2821  103.81722
1  10011               Bef Neil Rd  1.27774   103.8375
2  10017               Aft Hosp Dr  1.27832  103.83763
3  10018  Outram Pk Stn Exit F/SGH  1.27901   103.8386
4  10021                     Blk 3  1.27745  103.83839

In [7]:
#no duplicates
busstopssg[busstopssg.duplicated(subset = "id")]

Empty DataFrame
Columns: [id, name, latitude, longitude]
Index: []

In [8]:
#no duplicates
mrtsg[mrtsg.duplicated(subset="STN_NO")]

Empty DataFrame
Columns: [OBJECTID, STN_NAME, STN_NO, X, Y, Latitude, Longitude, COLOR]
Index: []

# Geodataframe

In [12]:
# Converting mrtsg to a GeoDataFrame
mrtsg_gdf = gpd.GeoDataFrame(
    mrtsg, geometry=gpd.points_from_xy(mrtsg.X, mrtsg.Y), crs='EPSG:3414'
)

# Save mrtsg to a file
mrtsg_gdf.to_file(r'Generated Files/mrtsg_EPSG3414.shp')
mrtsg_gdf.head()

ImportError: The 'to_file' method requires the 'pyogrio' or 'fiona' package, but neither is installed or imports correctly.
Importing fiona resulted in: dlopen(/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fiona/ogrext.cpython-310-darwin.so, 0x0002): symbol not found in flat namespace '_CPLCheckForFile'
Importing pyogrio resulted in: No module named 'pyogrio'

In [ ]:
# Converting busstopssg to a GeoDataFrame
busstopssg_gdf = gpd.GeoDataFrame(
    busstopssg, geometry=gpd.points_from_xy(busstopssg.longitude, busstopssg.latitude), crs='WGS84'
)

# This line of code sets the CRS to EPSG3414, the Projected Coordinate System for Singapore.
# Compare these coordinates to the coordinates for the original busstopssg dataframe.
# The coordinates should be in a 5000-50000 range for longitude and 20000-50000 range for latitude (roughly).
# When you get something like the coordinates in the original busstopssg dataframe (1.something, 100.something),
# that is in the WGS84 standard format and should be converted like in the following line.
busstopssg_EPSG3414 = busstopssg_gdf.to_crs(epsg=3414)

# Save busstopssg_EPSG3414 to a file
busstopssg_EPSG3414.to_file('Generated Files/busstopssg_EPSG3414.shp')
busstopssg_EPSG3414.head()

NameError: name 'gpd' is not defined

In [ ]:
type(busstopssg_gdf)

NameError: name 'busstopssg_gdf' is not defined